{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/addCompany.css' %}?ver=5">
{% endblock %}


{% block contents %}
<div class="section">
    <div class="inner">
        <h1>제휴회사</h1>
        <ul>
            <!-- <li><div class="d-logo1"></div></li>
            <li><div class="d-logo2"></div></li>
            <li><div class="d-logo3"></div></li>
            <li><div class="d-logo4"></div></li>
            <li><div class="d-logo5"></div></li>
            <li><div class="d-logo6"></div></li>
            <li><div class="d-logo7"></div></li>
            <li><div class="d-logo8"></div></li>
            <li><div class="d-logo9"></div></li>
            <li><div class="d-logo10"></div></li>
            <li><div class="d-logo11"></div></li>
            <li><div class="d-logo12"></div></li>
            <li><div class="l-logo1"></div></li>
            <li><div class="l-logo2"></div></li>
            <li><div class="l-logo3"></div></li>
            <li><div class="l-logo4"></div></li>
            <li><div class="l-logo5"></div></li>
            <li><div class="l-logo6"></div></li>
            <li><div class="l-logo7"></div></li>
            <li><div class="l-logo8"></div></li>
            <li><div class="l-logo9"></div></li>
            <li><div class="l-logo10"></div></li>
            <li><div class="l-logo11"></div></li>
            <li><div class="l-logo12"></div></li>
            <li><div class="l-logo13"></div></li>
            <li><div class="l-logo14"></div></li>
            <li><div class="l-logo15"></div></li>
            <li><div class="l-logo16"></div></li>
            <li><div class="l-logo17"></div></li>
            <li><div class="l-logo18"></div></li>
            <li><div class="l-logo19"></div></li>
            <li><div class="l-logo20"></div></li> -->
            <li><div class="logo1"></div></li>
        </ul>
    </div>
</div>
{% endblock %}