{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/addPage.css' %}?ver=5">
{% endblock %}

{% block contents %}
<div class="inner">
    <div class="title">(SKT 알뜰폰) 개인정보 제3자 제공동의</div>
    <div class="subject">SKT 알뜰폰 제3자 동의</div>
    <pre class="text">
"알뜰폰(MVNO)" 사업자는 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.

제1조 (알뜰폰(MVNO) 사업자)
SK텔레콤의 알뜰폰(MVNO) 사업자는 KCT, 아이즈비전, 유니컴즈, 큰사람, 스마텔, SK텔링크, 이마트, 에스원, 프리텔레콤, LG헬로비전, 조이텔, 머천드코리아, KB국민은행입니다.

제2조 (제공목적)
본 동의는 본인확인 서비스를 제공하기 위하여 본인확인기관인 SK텔레콤와 본인확인서비스 이용자간 본인확인서비스 이용에 필요한 고객정보를 위탁하여 본인확인서비스를 제공 하는 것에 대해 동의합니다.

제3조 (제공정보)
휴대폰 본인확인 서비스 제공에 필요한 개인정보로 성명, 휴대폰번호, 생년월일, 내.외국인구분, 성별 정보입니다.

제4조 (제공받는자)
SK텔레콤

제5조 (제공기간)
이동통신사에서 보유중인 정보로서 별도 이용기간은 없습니다. "본인"은 정보제공에 동의하지 않으실 수 있으며, 동의하지 않으실 경우 휴대폰 본인 확인 서비스를 이용 하실 수 없습니다.
    </pre>
</div>
{% endblock %}