<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <script>

    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?ver=1.4">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="{% static 'js/main.js' %}?ver=1.4"></script>

    {% block header %}
    {% endblock %}
    
    <title>CAbot</title>
</head>

<body>
    <div class="container">
        <div class="mask" id="mask" style="display: none;"></div>
        <img class="loading-img" id="loadingImg" style="display: none;" src="../../static/img/loadingShort.svg">
        <header>
            <div class="inner clearfix">
                <div class="logo float-left">
                    <a class="logo-name" href="/serviceHome">다이렉트</a>
                    <a class="" href="/serviceHome"><img src="../../static/img/logo.svg" alt="logo"></a>
                </div>
                <ul class="menu float-left">
                    {% if request.session.superUser %}
                    <a class="menuContent" href="/caData" style="border: solid 2px #000; padding: 8px 20px; border-radius: 5px; color: #000;">방문데이터 확인</a>
                    <a class="menuContent" href="/caLogout" style="border: solid 2px #5b8def; padding: 8px 20px; border-radius: 5px; color: #5b8def;">관리자 로그아웃</a>
                    {% else %}
                    <img class="menuBar hover" src="../../static/img/menu_bar.svg" alt="메뉴바" onclick="OpenMenu()">
                    <img class="menuX hover" src="../../static/img/menu_x.svg" alt="메뉴x" onclick="CloseMenu()">
                    <div class="menuGroup">
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu1.png" alt="">
                            <a class="menuContent" href="/selfCompareHome" onclick="CountButton('selfCompareCount')">다이렉트 보험 Self 비교가입</a>
                        </div>
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu2.png" alt="">
                            <a class="menuContent" href="/consulting" onclick="CountButton('consultingCount')">전화상담 가입</a>
                        </div>
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu3.png" alt="">
                            <div class="menuContent hover" onclick="OpenChat(); CountButton('chatCount')">실시간 채팅상담</div>
                        </div>
                    </div>
                    {% endif %}
                </ul>
                <div class="addInfo float-right">
                    <div>대표상담번호 044-715-7442</div>
                </div>
            </div>
        </header>
        <div class="middle">
            {% block contents %}
            {% endblock %}
        </div>
        <footer>
            <div class="inner">
                <div class="left-side">
                    <p>대표 : 이동진</p>
                    <p>상호명 : 주식회사 카보</p>
                    <p>주소 : 세종특별자치시 나성북1로 22, 8층 R807호</p>
                    <p>TEL : 044-715-7442</p>
                    <p>Mobile : 010-5048-7229</p>
                </div>
            </div>
        </footer>
    </div>    
</body>
</html>