<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <script>

    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?ver=1.4">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="{% static 'js/main.js' %}?ver=1.4"></script>

    {% block header %}
    {% endblock %}
    
    <title>CAbot</title>
</head>

<body>
    <div class="container">
        <div class="secretSection">
            <input type="text" id="spw" placeholder="비번">
            <button class="hover" onclick="secretSection()">확인</button>
        </div>
        <div class="mask" id="mask" style="display: none;"></div>
        <img class="loading-img" id="loadingImg" style="display: none;" src="../../static/img/loadingShort.svg">
        <header>
            <div class="inner clearfix">
                <div class="logo float-left">
                    <a class="logo-name" href="/">보험비서</a>
                    <a class="" href="/"><img src="../../static/img/logo.svg" alt="logo"></a>
                </div>
                <ul class="menu float-left">
                    {% if request.session.superUser %}
                    <a class="menuContent" href="/caData" style="border: solid 2px #000; padding: 8px 20px; border-radius: 5px; color: #000;">방문데이터 확인</a>
                    <a class="menuContent" href="/caLogout" style="border: solid 2px #5b8def; padding: 8px 20px; border-radius: 5px; color: #5b8def;">관리자 로그아웃</a>
                    {% else %}
                    <img class="menuBar hover" src="../../static/img/menu_bar.svg" alt="메뉴바" onclick="OpenMenu()">
                    <img class="menuX hover" src="../../static/img/menu_x.svg" alt="메뉴x" onclick="CloseMenu()">
                    <div class="menuGroup">
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu1.png" alt="">
                            <a class="menuContent" href="/selfCompareHome" onclick="CountButton('selfCompareCount')">다이렉트 보험 Self 비교가입</a>
                        </div>
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu2.png" alt="">
                            <a class="menuContent" href="/consulting" onclick="CountButton('consultingCount')">전화상담 가입</a>
                        </div>
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu3.png" alt="">
                            <div class="menuContent hover" onclick="OpenChat(); CountButton('chatCount')">실시간 채팅상담</div>
                        </div>
                    </div>
                    {% endif %}
                </ul>
                <div class="addInfo float-right">
                    <img src="../../static/img/header_img.svg" alt="헤더이미지">
                    <div>금융위원회 혁신금융서비스 지정</div>
                </div>
            </div>
        </header>
        <div class="middle">
            {% block contents %}
            {% endblock %}
        </div>
        <footer>
            <div class="inner">
                <!-- <div class="left-side float-left">
                    <p>본 광고는 광고심의기준을 준수하였으며, 유효기간은 심의일로부터 1년입니다.</p>
                    <p>엠금융서비스 준법 심의필 제2022-12-00호 유효기간(2022.12.21-2023.12.20)</p>
                    <p>보험비서 GABOT | 대표 설계사 고유등록 번호 : 20150593100001</p>
                    <p>엠금융서비스 보험대리점 | 협회등록번호 : 2009028021</p>
                    <p>상호 : ㈜엠금융서비스 세종사업본부 계룡지점</p>
                </div> -->
                <img src="../../static/img/logo_gray.svg" alt="">
                <!-- <div class="right-side float-right">
                    <p>상담 접수 : 주중 10:00 ~17:00 | 대표번호 : 010-7770-2696</p>
                    <p>개인정보 책임 관리자 : 이동진</p>
                    <p>Copyright 엠금융서비스 세종사업본부. All rights Reserved</p>
                    <a href="service/" target="_blank">[서비스 이용약관]</a> -->
                    <!-- <a href="agreement/" target="_blank">[개인정보 처리방침]</a>
                    <a href="company/" target="_blank">[대리-중개 보험회사]</a>
                </div> -->
                <div class="logo"></div>
            </div>
        </footer>
    </div>    
</body>
</html>