<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    {% load humanize %}
    <script>

    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="{% static 'css/homeMain.css' %}?ver=1.4">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="{% static 'js/homeMain.js' %}?ver=1.4"></script>


    {% block header %}
    {% endblock %}
    
    <title>CABO</title>
</head>

<body>
    <div class="container">
        <div class="mask" id="mask" style="display: none;"></div>
        <img class="loading-img" id="loadingImg" style="display: none;" src="../../static/img/loadingShort.svg">
        <header>
            <div class="inner clearfix">
                <div class="logo float-left">
                    <a class="logo-name" href="/">CABO</a>
                    <a class="" href="/"><img src="../../static/img/logo.svg" alt="logo" style="display: none;"></a>
                </div>
                <ul class="menu float-left" style="display: none;">
                    <img class="menuBar hover" src="../../static/img/menu_bar.svg" alt="메뉴바" onclick="OpenMenu()">
                    <img class="menuX hover" src="../../static/img/menu_x.svg" alt="메뉴x" onclick="CloseMenu()">
                    <div class="menuGroup">
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu1.png" alt="">
                            <a class="menuContent" href="/selfCompareHome" onclick="CountButton('selfCompareCount')">다이렉트 보험 Self 비교가입</a>
                        </div>
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu2.png" alt="">
                            <a class="menuContent" href="/consulting" onclick="CountButton('consultingCount')">전화상담 가입</a>
                        </div>
                        <div class="contentGroup">
                            <img src="../../static/img/header_menu3.png" alt="">
                            <div class="menuContent hover" onclick="OpenChat(); CountButton('chatCount')">실시간 채팅상담</div>
                        </div>
                    </div>
                </ul>
                <div class="addInfo float-right">
                    <a href="#HMsection2">About Us</a>
                    <a href="#HMfooter">Contact Us</a>
                </div>
            </div>
        </header>
        <div class="middle">
            <section class="section1">
                <div class="positionBox">
                    <div class="title">다이렉트 자동차보험<br>CABO에서 쉽고 편하게</div>
                    <a href="/serviceHome/" class="button hover" target="_blank">시제품 소개</a>
                    <img src="../../static/img/homeMain_s1.svg" alt="">
                </div>
            </section>
            <section class="section2" id="HMsection2">
                <div class="positionBox">
                    <ul>
                        <li>
                            <img src="../../static/img/homeMain_s2.svg" alt="">
                        </li>
                        <li>
                            <div class="title">About CABO</div>
                            <div class="content">2022 핀테크 지원센터 예창패 선정</div>
                            <div class="content">보험중개 특허출원</div>
                            <div class="content">2023년 주식회사 카보 설립</div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section3">
                <div class="positionBox">
                    <ul>
                        <li>
                            <div class="title">CABO는 다이렉트 자동차보험<br>중개시장을 스마트한 변화를 지향합니다</div>
                            <div class="content">현재 핀테크 지원센터를 통해 관련 아이템의<br>
                                법적 당위성을 확보하려 하고있습니다.<br>
                                보험사와의 제휴계약 또한 준비중 입니다. <br>
                                시제품으로 카보의 지향성을 확인해보세요.</div>
                        </li>
                        <li>
                            <img src="../../static/img/homeMain_s3.svg" alt="">
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <footer id="HMfooter">
            <div class="inner">
                <div class="left-side">
                    <p>대표 : 이동진</p>
                    <p>상호명 : 주식회사 카보</p>
                    <p>주소 : 세종특별자치시 나성북1로 22, 8층 R807호</p>
                    <p>TEL : 044-715-7442</p>
                    <p>Mobile : 010-5048-7229</p>
                </div>
            </div>
        </footer>
    </div>    
</body>
</html>