<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <script>

    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="../../static/img/logo.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="{% static 'css/sMain.css' %}?ver=12.07">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="{% static 'js/sMain.js' %}?ver=12.07.1"></script>

    {% block header %}
    {% endblock %}
    
    <title>CABO</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="inner clearfix">
                <div class="logo float-left">
                    <a class="" href="/"><img src="../../static/img/logo_blue.svg" alt="logo"></a>
                </div>
                <ul class="menu float-left">
                    <img class="menuBar hover" src="../../static/img/menu_bar.svg" alt="메뉴바" onclick="sOpenMenu()">
                    <img class="menuX hover" src="../../static/img/menu_x.svg" alt="메뉴x" onclick="sCloseMenu()">
                    <div class="menuGroup">
                        <div class="contentGroup">
                            <a class="menuContent" href="/about/" onclick="sSaveLog('헤더 About버튼')">About</a>
                        </div>
                        <div class="contentGroup">
                            <a class="menuContent" href="/business/" onclick="sSaveLog('헤더 Business버튼')">Business</a>
                        </div>
                        <div class="contentGroup">
                            <a class="menuContent" href="/contact/" onclick="sSaveLog('헤더 Contact버튼')">Contact</a>
                        </div>
                    </div>
                </ul>
                <div class="addInfo float-right">
                    <div>대표상담번호 044-715-7442</div>
                </div>
            </div>
        </header>
        <div class="headerSpacer"></div>
        <div class="middle">
            {% block contents %}
            {% endblock %}
        </div>
        <footer>
            <div class="inner">
                <div class="center">
                    <div class="left-side float-left">
                        <p>상호 : 주식회사 카보</p>
                        <p>대표 : 이동진</p>
                        <p>주소 : 충청남도 계룡시 장안 1길 6, 202호</p>
                        <p>사업자번호 : 291-86-02840</p>
                    </div>
                    <img src="../../static/img/logo_gray.svg" alt="">
                    <div class="right-side float-right">
                        <p>영업 시간 : 주중 09:00 ~18:00 | 대표번호 : 044-715-7442</p>
                        <p>Email : ceo@cabo.kr</p>
                        <p>Copyright 카보. All rights Reserved</p>
                        <p>개인정보 책임 관리자 : 이동진</p>
                    </div>
                    <div class="logo"></div>
                </div>
            </div>
        </footer>
    </div>    
</body>
</html>