.section1{

}
.section1 .inner{
  padding: 100px 0;
}
.section1 .text1{
  font-size: 40px;
  font-weight: bold;
  color: #5b8def;
  padding-bottom: 20px;
  border-bottom: solid 5px #5b8def;
}
.section1 .spacer{
  margin-top: 30px;
}
.section1 .text2{
  font-size: 25px;
  font-weight: bold;
  color: #3F3D56;
  line-height: 50px;
}
.section1 .text2 span{
  color: #5b8def;
}


.section2{

}
.section2 .inner{
  padding: 50px 0;
}
.section2 .flexBox1{
  display: flex;
  align-items: center;
}
.section2 .flexBox1 .spacer{
  margin-left: 50px;
}
.section2 .flexBox1 img{
  height: 450px;
}
.section2 .flexBox1 .flexBox2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2 .flexBox1 .flexBox2 .text1{
  font-size: 35px;
  font-weight: bold;
  color: #5b8def;
  margin-bottom: 20px;
}
.section2 .flexBox1 .flexBox2 .content{
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.section2 .flexBox1 .flexBox2 .content .text2{
  font-size: 22px;
  font-weight: bold;
  color: #3F3D56;
  margin-right: 40px;
}
.section2 .flexBox1 .flexBox2 .content .text3{
  font-size: 22px;
  font-weight: bold;
  color: #3F3D56;
}


.section3{

}
.section3 .inner{
  padding: 100px 0;
}
.section3 .text1{
  font-size: 35px;
  font-weight: bold;
  color: #5b8def;
  margin-bottom: 50px;
}
.section3 .imgBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section3 .imgBox .img1{
height: 50px;
}
.section3 .imgBox .img2{
  height: 50px;
}
.section3 .imgBox .img3{
  height: 50px;
}
.section3 .imgBox .img4{
  height: 120px;
}
.section3 .imgBox .img5{
  height: 120px;
}














@media (max-width: 600px) {
  .section1{

  }
  .section1 .inner{
    padding: 50px 15px;
  }
  .section1 .text1{
    font-size: 20px;
    font-weight: bold;
    color: #5b8def;
    padding-bottom: 10px;
    border-bottom: solid 2px #5b8def;
  }
  .section1 .spacer{
    margin-top: 20px;
  }
  .section1 .text2{
    font-size: 16px;
    font-weight: bold;
    color: #3F3D56;
    line-height: 25px;
    text-align: center;
  }
  .section1 .text2 span{
    color: #5b8def;
  }
  
  
  .section2{
  
  }
  .section2 .inner{
    padding: 50px 15px;
  }
  .section2 .flexBox1{
    display: flex;
    align-items: center;
  }
  .section2 .flexBox1 .spacer{
    margin-left: 10px;
  }
  .section2 .flexBox1 img{
    height: 350px;
  }
  .section2 .flexBox1 .flexBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section2 .flexBox1 .flexBox2 .text1{
    font-size: 20px;
    font-weight: bold;
    color: #5b8def;
    margin-bottom: 10px;
  }
  .section2 .flexBox1 .flexBox2 .content{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .section2 .flexBox1 .flexBox2 .content .text2{
    font-size: 16px;
    font-weight: bold;
    color: #3F3D56;
    margin-right: 20px;
  }
  .section2 .flexBox1 .flexBox2 .content .text3{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #3F3D56;
  }
  
  
  .section3{
  
  }
  .section3 .inner{
    padding: 70px 15px;
  }
  .section3 .text1{
    font-size: 22px;
    font-weight: bold;
    color: #5b8def;
    margin-bottom: 20px;
    text-align: center;
  }
  .section3 .imgBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .section3 .imgBox img{
    margin-top: 30px;
  }
  .section3 .imgBox .img1{
    height: 40px;
  }
  .section3 .imgBox .img2{
    height: 40px;
  }
  .section3 .imgBox .img3{
    height: 40px;
  }
  .section3 .imgBox .img4{
    height: 80px;
  }
  .section3 .imgBox .img5{
    height: 80px;
  }
}